<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        		
        <!-- CSS -->
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    </head>
    <body ng-app="MyApp">
		
		<!-- DatasouceJS Diretive -->
		<!-- rows-per-page="-1" will prevent add limit and offset control -->
		<datasource name="Users" entity="http://jsonplaceholder.typicode.com/users" keys="id" rows-per-page="-1"></datasource>
		
		<h1>Data navigation</h1>
		<form>
		  <div class="form-group">
			<button class="btn btn-primary" ng-disabled="!Users.hasPrevious()"ng-click="Users.previous()">Previous</button>
			<button class="btn btn-primary" ng-disabled="!Users.hasNext()" ng-click="Users.next()">Next</button>
		  </div>
		  <div class="form-group">
			<label for="exampleInputName">Name</label>
			<input type="text" class="form-control" ng-model="Users.active.name" id="exampleInputName" placeholder="Name">
		  </div>
		  <div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" ng-model="Users.active.email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <div class="form-group">
			<label for="exampleInputUserName">Username</label>
			<input type="text" ng-model="Users.active.username" class="form-control" id="exampleInputUserName" placeholder="Username">
		  </div>
		  
		</form>

        <!-- Plugins -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>

        <!-- DatasourceJS -->
        <script src="../../dist/datasource.js"></script>
		
		<!-- Your custom JS code -->
		<script src="code.js"></script>

    </body>
</html>
